<title>THONYC6</title>
<!--
<header>
    <div class="container">
        <p class="logo">ThonyC6</p>
        <nav>
            <a href="#somospros">Sobre Nosotros</a>
            <a href="#nuestrosproductos">Productos</a>
            <a href="#caracteristicas">Caracteristicas</a>
        </nav>
    </div>
</header>
-->
<section id="hero">
    <h1>PC<br>MASTER RACE</h1>
    <!-- link del boton para redireccion -->
    <form action="">
        <button>Apachurrale Star!</button>
        <!-- <button formaction="https://www.youtube.com/">Apachurrale Star!</button> -->
    </form>
    <!-- ----- -->
</section>

<section id="somospros">
    <div class="container">
        <div class="img-container"></div>
        <div class="texto">

            <h2>Somos <span class="color-acento">Gamers</span></h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque nemo laboriosam numquam ipsa minus beatae modi. Vel voluptate qui autem, similique iure, temporibus facilis numquam tempore magni voluptas ipsa alias.</p>

        </div>
    </div>
</section>

<section id="nuestrosproductos">
    <div class="container">
        <h2>Nuestros Productos</h2>
        <div class="programas">
            <div class="carta">
                <h3>Case</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio et fugiat officiis id maxime? Nulla libero natus impedit consectetur, aspernatur voluptas placeat aliquid blanditiis cumque in quibusdam beatae dolor.</p>
                <button>+ info</button>
            </div>
            <div class="carta">
                <h3>Graficas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio et fugiat officiis id maxime? Nulla libero natus impedit consectetur, aspernatur voluptas placeat aliquid blanditiis cumque in quibusdam beatae dolor.</p>
                <button>+ info</button>
            </div>
            <div class="carta">
                <h3>Motherboard</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio et fugiat officiis id maxime? Nulla libero natus impedit consectetur, aspernatur voluptas placeat aliquid blanditiis cumque in quibusdam beatae dolor.</p>
                <button>+ info</button>
            </div>
        </div>
    </div>
</section>

<section id="caracteristicas">
    <div class="container">
        <ul>
            <li>100% online</li>
            <li>flexibilidad de horarios</li>
            <li>soporte 1:1</li>
            <li>asistencia financiera</li>
        </ul>
    </div>
</section>

<section id="aplicaya">
    <h2>Escoge tus compoentnes</h2>
    <button>Apachurrale Star!</button>
</section>

<footer>
    <div class="container">
        <p>&copy; ThonyC6</p>
    </div>
</footer>
